// Variables perosnalizadas
$primary: #ff6600;
$success: #0066CC;

// Importar Bootstrap
@import "bootstrap/scss/bootstrap";

body {
    margin-top: 87px;
    background-color: rgb(245, 245, 245);
    font-family: 'Roboto', sans-serif;
}