.graph-main {
    padding-left: 100px;
    z-index: -1;

    .section-graph {
        height: 70vh;
        overflow: hidden;
    }

    .text-section {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
    }

    .text-container-graph {
        font-family: 'Roboto', sans-serif;
        color: black;
        display: flex;
        justify-content: center;
        text-align: justify;
        align-items: center;
        font-size: 42px;
    }

    .graphics-section {
        position: relative;
        width: 50%;
        z-index: 1;
    }

    .object-fit-cover {
        object-fit: cover;
    }
}