.section-wrapper{
    /* box-shadow: 0 0 10px 10px rgb(0, 0, 0, 0.7); */
    z-index: 1;
}

.img-stretch {
    width: 100%;
    object-fit: cover;
}

.img-container {
    position: relative;
}

.gradient-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
    height: 60%;
    bottom: 0;
    z-index: 0;
}

.logo {
    width: 40%;
    padding: 50px;
    border-radius: 10px;
    z-index: 2;
}

.eslogan {
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-style: italic;
    font-weight: 100;
    margin-top: 150px;
    margin-bottom: -100px;
    color: white;
    text-shadow: 5px 5px 1px #ff6600;
    z-index: 5;
}