.header {
    background-color: rgb(20, 20, 20);

    .isActive {
        background-color: #ff6600;
        border-radius: 5px;
        color: black;
    }

    /* Text color transition and hover */
    .text-color {
        color: #ff6600;
        transition: all 0.3s ease;
    }

    .text-color:hover {
        color: white;
    }

    /* Button-like appearance for 'Unirse al club' */
    .auth {
        background-color: white;
        border-radius: 10px;
        color: #ff6600;
        transition: all 0.3s ease;
    }

    .auth:hover {
        color: black;
        background-color: #ff6600;
    }

    .logo {
        max-height: 50px;
        width: auto;
        transition: transform 0.3s ease;
    }

    .logo:hover {
        transform: scale(1.1);
    }

    /* Nav link hover effect */
    .nav-link {
        transition: color 0.3s ease;
        color: #ff6600;
    }

    .nav-link:hover {
        color: #ff6600;
    }
}